// General colors.
$background-color: var(--background-color, #ffffff);
$basic-color: var(--basic-color, #000000);
$text-color: var(--text-color, rgba(0, 0, 0, 0.87));
$secondary-color: var(--secondary-color, rgba(0, 0, 0, 0.54));
$hint-color: var(--hint-color, rgba(0, 0, 0, 0.38));
$dividers-color: var(--dividers-color, rgba(0, 0, 0, 0.12));

// Terminal colors.
// @see https://m1.material.io/style/color.html#color-color-palette
$terminal-default-color: var(--terminal-default-color, #9e9e9e); // Gray 500
$terminal-error-color: var(--terminal-error-color, #f44336); // Red 500
$terminal-incoming-color: var(--terminal-incoming-color, #4caf50); // Green 500
$terminal-outgoing-color: var(--terminal-outgoing-color, #2196f3); // Blue 500
