@use 'config';

.terminal-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  width: 100%;

  &[hidden] {
    display: none !important;
  }
}

.terminal {
  border: 1px solid config.$dividers-color;
  border-width: 1px 0;
  flex-grow: 1;
  overflow: auto;
  padding: 4px 0;
  transition: border-color 0.3s;

  div {
    color: config.$terminal-default-color;
    line-height: 1.25;
    padding: 4px 8px;
    position: relative;
    word-break: break-word;

    .content {
      word-break: break-word;
    }

    .timestamp {
      align-items: center;
      background: linear-gradient(to right, transparent 0%, config.$background-color 24px);
      background: linear-gradient(to right, color-mix(in srgb, config.$background-color 0%, transparent) 0%, config.$background-color 24px);
      bottom: 0;
      color: config.$hint-color;
      display: flex;
      font-size: 0.85em;
      opacity: 0;
      padding-left: 28px;
      padding-right: 8px;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.15s ease-in-out;
      user-select: none;
      white-space: nowrap;
    }

    &:hover .timestamp {
      opacity: 1;
    }

    &.error {
      color: config.$terminal-error-color;
    }

    &.incoming {
      color: config.$terminal-incoming-color;
    }

    &.outgoing {
      color: config.$terminal-outgoing-color;
    }
  }
}
