.toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0;

  .name {
    flex-grow: 1;
    overflow: hidden;
    padding: 0 8px;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
  }

  .buttons {
    flex-shrink: 0;

    button {
      float: left;

      &[hidden] {
        display: none;
      }
    }
    button:hover {
      filter: brightness(1.15);
    }
  }
}
